<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.zq.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.springboot.zq.pojo.Product">
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
    <result column="product_img" jdbcType="VARCHAR" property="productImg" />
    <result column="product_stock" jdbcType="INTEGER" property="productStock" />
    <result column="product_detail" jdbcType="VARCHAR" property="productDetail" />
  </resultMap>
  <resultMap id="selectResultMap" type="com.springboot.zq.pojo.Product">
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
    <result column="product_img" jdbcType="VARCHAR" property="productImg" />
    <result column="product_stock" jdbcType="INTEGER" property="productStock" />
    <result column="product_detail" jdbcType="VARCHAR" property="productDetail" />
    <association property="merchant" javaType="com.springboot.zq.pojo.Merchant">
      <result column="merc_name" jdbcType="VARCHAR" property="mercName"/>
      <result column="merc_address" jdbcType="VARCHAR" property="mercAddress"/>
      <result column="merc_email" jdbcType="VARCHAR" property="mercEmail"/>
      <result column="merc_phone" jdbcType="VARCHAR" property="mercPhone"/>
      <result column="merc_proxy" jdbcType="VARCHAR" property="mercProxy"/>
      <result column="merc_img" jdbcType="VARCHAR" property="mercImg"/>
    </association>
    <association property="category" javaType="com.springboot.zq.pojo.Category">
      <id column="category_id" jdbcType="INTEGER" property="categoryId"/>
      <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
      <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
    </association>
   <!-- <association property="comment" javaType="com.springboot.zq.pojo.Comment">
      <result column="comment_id" jdbcType="INTEGER" property="commentId"/>
      <result column="comment_context" jdbcType="VARCHAR" property="commentContext"/>
    </association>-->
   <!-- <collection property="comments" column="comment_id" ofType="com.springboot.zq.pojo.Comment">
      <id column="comment_id" jdbcType="INTEGER" property="commentId"/>
      <result column="comment_context" jdbcType="VARCHAR" property="commentContext"/>
      <result column="comment_time" jdbcType="DATE" property="commentTime"/>
    </collection>-->
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.springboot.zq.pojo.Product">
    insert into product (product_id, category_id, product_name, 
      product_price, product_img, merc_id, 
      product_stock)
    values (#{productId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, 
      #{productPrice,jdbcType=DECIMAL}, #{productImg,jdbcType=VARCHAR}, #{mercId,jdbcType=INTEGER}, 
      #{productStock,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.springboot.zq.pojo.Product">
    update product
    set category_id = #{categoryId,jdbcType=INTEGER},
      product_name = #{productName,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=DECIMAL},
      product_img = #{productImg,jdbcType=VARCHAR},
      merc_id = #{mercId,jdbcType=INTEGER},
      product_stock = #{productStock,jdbcType=INTEGER}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="selectResultMap">
    select product.product_id, product.category_id, product_name, product_price, product_img, product.merc_id,
    product_stock, product_detail,
    m.merc_name, m.merc_phone, m.merc_proxy,m.merc_address, m.merc_email, m.merc_img,
    c.category_id,c.category_name,c.parent_id
    from product
        left join category c on c.category_id = product.category_id
        left join merchant m on m.merc_id = product.merc_id
    where product.product_id = #{productId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select product_id, category_id, product_name, product_price, product_img, merc_id, 
    product_stock, product_detail
    from product
  </select>
</mapper>